.imdb-sidebar-header[b-bmis6f87j4] {
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background-color: #121212;
}

.navbar-brand-imdb[b-bmis6f87j4] {
    background-color: #f5c518;
    color: #000 !important;
    font-weight: 900;
    padding: 4px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.3rem;
}


.nav-item[b-bmis6f87j4]  a {
    color: #ffffff !important;
    padding: 12px 16px;
    margin: 4px 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

    .nav-item[b-bmis6f87j4]  a:hover {
        background-color: #2c2c2c !important;
        color: #f5c518 !important;
    }

    .nav-item[b-bmis6f87j4]  a.active {
        background-color: #333 !important;
        color: #f5c518 !important;
        font-weight: bold;
    }
